body {
    background-color: rgba(247, 255, 183, 0.375);
}

.bird_img {
    width: 300px;
    height: 300px;
    position: relative;
}


.wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    animation: move;
    animation-fill-mode: forwards;
    animation-duration: 40s;
    animation-direction: normal;
    z-index: -1;
}

@keyframes move {
    from {
        transform: translate(130%, 200%);
    }

    to {
        transform: translate(-2000%, 0%);
    }
}




.bird {
    width: 500px;
    height: auto;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    z-index: -1;

    animation-name: fly;

    animation-fill-mode: none;
    animation-duration: 0.9s;
    animation-iteration-count: infinite;
    animation-timing-function: ease;
    animation-direction: normal;
}

.b02 {
    animation-delay: 0.1s;
}

.b03 {
    animation-delay: 0.2s;
}

.b04 {
    animation-delay: 0.3s;
}

.b05 {
    animation-delay: 0.4s;
}

.b06 {
    animation-delay: 0.5s;
}

.b07 {
    animation-delay: 0.6s;
}

.b08 {
    animation-delay: 0.7s;
}

.b09 {
    animation-delay: 0.8s;
}

.b10 {
    animation-delay: 0.9s;
}





@keyframes fly {
    0% {
        opacity: 0%;
    }

    2% {
        opacity: 100%;
    }

    10% {
        opacity: 100%;
    }


    20% {
        opacity: 0%;
    }

    100% {
        opacity: 0%;
    }
}
